img {
    
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    border-radius: 50%
  }
  .content {
    margin: auto;
    width: 60%;
    border: 3px solid rgb(78, 80, 75);
    padding: 10px;
    font-size: large;
  }

  